{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carga - SecureID Engine</title>
    <link rel="stylesheet" href="{% static 'identity/css/style.css' %}">
</head>
<body>
    <header class="main-header">
        <div class="header-container">
            <a href="{% url 'upload' %}" class="logo">
                SECUREID<span>ENGINE</span>
            </a>
            <nav class="nav-links">
                <a href="{% url 'upload' %}">Nueva Carga</a>
            </nav>
        </div>
    </header>
    <div class="card upload-card-custom">
        <h2 class="upload-title">Verificación de Identidad</h2>
        <p class="upload-subtitle">Sube una imagen clara de tu documento.</p>
        
        <hr class="upload-divider">


        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="mode-switch-wrapper">
                <span class="mode-label">Modo Verificador</span>
                <label class="switch">
                    <input type="checkbox" id="mode-toggle" name="mode_toggle">
                    <span class="slider"></span>
                </label>
            </div>
            
            {{ form.as_p }}

            <div id="selfie-section" class="selfie-section">
                <label>Foto del Rostro (Referencia):</label>
                <input type="file" name="face_image" id="face_input">
                <img id="face-preview" src="#" alt="Preview" class="face-preview-img">
            </div>

            <img id="image-preview" src="#" alt="Vista previa de la identificación">

            <div style="margin-top: 20px; font-size: 0.9em; color: #636e72;">
                <label style="display: flex; align-items: flex-start; gap: 10px; cursor: pointer; font-weight: normal;">
                    <input type="checkbox" required style="width: auto; margin-top: 4px;">
                    <span>He leído y acepto el <a href="{% url 'privacy' %}" target="_blank" style="color: #0984e3;">Aviso de Privacidad</a> y entiendo el tratamiento que se le dará a mis datos personales.</span>
                </label>
            </div>

            <div class="submit-container">
                <button type="submit" class="btn-secondary submit-btn-custom">
                    Iniciar Procesamiento
                </button>
            </div>
        </form>

        <p class="footer-container">
            <small class="footer-text">
                Procesamiento asíncrono vía Celery. | <a href="{% url 'privacy' %}" style="color: #b2bec3;">Aviso de Privacidad</a>
            </small>
        </p>
    </div>

    <script src="{% static 'identity/js/upload.js' %}"></script>
</body>
</html>